<!DOCTYPE html>

<html>
    <head>
        <title>Quiz</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/stylesheets/style.css">
    </head>
    <body>
        <h2>Quiz: el juego de las preguntas</h2>
        <%= respuesta %>
        <a href="/quizes/question">Inténtelo de nuevo</a>
        </form>
    </body>
</html>
