        <body>
        <form method="get" action="/quizes/search">
        Pregunta a buscar:  <p>
        <input type="text" name="search" value="Texto a buscar"/>
        <input type="submit" value="Enviar"/>
        </form>
        </body>