        <body>
        <table>
            El resultado de la búsqueda es: <p>
           
            <% var i; for (i=0; i<results.length; i++) { %>
            <tr><td><%= results[i].pregunta %></td></tr>
        <% } %>       
        </table>
        </body>