        <body>
        <table>
            <% var i; for (i=0; i<results.length; i++) { %>
            <tr><td><a href="quizes/<%= results[i].id %>"><%= results[i].pregunta %></a></td></tr>
        <% } %>       
        </table>
        </body>